body {
  margin: 0;
  padding: 0;
  background-color: #e0d5cc;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}

/* -------- HEADER -------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff63;
  border-radius: 20px;
  padding: 8px 10px;
  margin-left: 8px;
}

.search-input {
  border: none;
  outline: none;
  background-color: #ffffff00;
  font-size: 14px;
  color: white;
  flex: 1;
}

.search-input::-webkit-input-placeholder {
  color: white;
}

#search-icon {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #e0d5cc;
  color: black;
  padding: 14px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c6b4a6;
}

.menu-icon {
  display: none;
}

/* -------- SIDEBAR -------- */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #c6b4a6;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: white;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top:15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list h3 {
  margin-left: 20px;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

a[draggable="true"] {
  cursor: pointer; /* Change the cursor to indicate draggable */
  text-decoration: none; /* Remove underline */
  color: white; /* Change link color */
}

a[draggable="true"]:active {
  cursor: pointer; /* Change cursor when dragging */
}

/* -------- MAIN -------- */
.main {
  grid-area: main;
  overflow-y: auto;
  padding: 10px 10px;
  margin: 20px 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

.cards .card {
  background-color: #e0dedc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card:hover{
  background-color: chocolate;
}
.card-name {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

.chart{
  padding: 30px;
}

.number {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
}

.material-icons-outlined {
  padding: 10px;
  background-color: #007bff00;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.table {
  margin-top: 50px;
  text-align: center;
}

.btn-table {
  margin-top: 20px;
}

/* -------- CHARTS -------- */
.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
  margin : 20px 10px;
}

.content {
  background: #e0dedc;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.content canvas {
  width: 100% !important;
  height: auto !important;
}

/* -------- RESPONSIVE STYLES -------- */

/* Laptops and Tablets */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  .cards .card,
  .content {
    flex: 1 1 100%;
    gap: 20px;
  }

  .menu-icon {
    display: inline;
  }

  #sidebar {
    display: none;
  }

  .sidebar-responsive {
    display: block;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Tablets and Phones */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .charts {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cards .card,
  .content {
    flex: 1 1 100%;
  }

  #sidebar {
    height: 450%;
  }

  .sidebar-responsive {
    display: block;
  }

  .charts > div {
    grid-column: span 1;
  }
}